@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.content__shows {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 300px; 
}

.content__shows div {
  position: relative;
  width: 199px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  
.content__shows div:hover img {
  transform: scale(1.15);
}

.content__shows div .title-box {
  content: "";
  height: 100px;
  position: absolute;
  transform: translatey(50px);
  transition: 0.3s ease;  
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  width: 100%;
  z-index: 1;
}

.content__shows div img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
  
.content__shows div .name {
  position: absolute;
  width: 100%;
  bottom: -1px;
  color: #fff;
  transform: translatey(100px);
  padding: 10px;
  z-index: 10;
  transition: .3s ease;
  cursor: default;
}

.content__shows div:hover .name,
.content__shows div:hover .title-box {
  transform: translatey(0); 
}


