.containerSearch {
    /* border-left: 2px solid;   
    border-right: 2px solid;    */
    width: 100%;
    margin-top: 70px;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    color: white;
}

.containerSearch .searchBar select {
    color: white;
    border-radius: 10px;
    background-color: #1a1a1a;
    padding: 5px;
}

.containerSearch .searchBar input {
    border: 2px solid grey;
    background-color: rgb(35, 34, 34);
    width: 50%;
    padding: 7px;
    border-radius: 15px;
    margin: 10px;
    color: white;
}

.containerSearch .searchBar button {
    background-color: rgb(113, 109, 109);
    padding: 10px;
    width: 50px;
}

.containerSearch .searchBar button:hover {
    background-color: rgb(57, 89, 134);
    border: 2px solid;
}

.containerSearch .searchBar button:active {
    background-color: rgb(57, 89, 134);
    transform: scale(0.9);
}

.containerSearch .searchResult {
    margin: 15px;
    padding: 10px;
    display: flex;  
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}
.containerSearch .searchResult .card-movie{
    width: 300px;
    display: flex;
    align-items: center;
    border: 2px solid;
}