/* Structure générale */
.login-wrapper {
    /* border: 1px solid whitesmoke; */
    border-radius: 10px;
    width: 650px;
    margin: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.login-background::before {
  width: 650px;
  height: 400px;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff0000;
}

.login-background::after {
  width: 150px;
  height: 150px;
  bottom: -50px;
  right: 20%;
  background: #222;
}

/* Conteneur du formulaire */
.login-container {
  /* background-color: #1c1c1c; */
  border-radius: 10px;
  padding: 40px 30px;
  min-width: 400px;
  width: 100%;
  z-index: 2;
  /* box-shadow: 0 0 25px rgba(255, 0, 0, 0.2); */
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

/* Formulaire */
.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #ccc;
}


.error {
    color: white;
}

.login-form input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 0.95rem;
  transition: border 0.3s ease;
}

.login-form input:focus {
  /* border-color: #ff0000; */
  border-color: rgb(9, 156, 235);
  outline: none;
}

/* Mot de passe oublié */
.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  color: #aaa;
  text-decoration: none;
  font-size: 0.85rem;
  transition: color 0.3s;
}

.forgot-link:hover {
  /* color: #ff0000; */
  color: rgb(9, 156, 235);
}

/* Bouton */
.btn-submit {
  width: 100%;
  /* background-color: #ff0000; */
  background-color: rgb(9, 156, 235);
  color: white;
  padding: 13px 0;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  /* background-color: #cc0000; */
  background-color: rgb(7, 119, 179);
}

/* Lien inscription */
.signup-text {
  text-align: center;
  margin-top: 25px;
  font-size: 0.9rem;
  color: #aaa;
}

.signup-text a {
  /* color: #ff0000; */
  color: rgb(9, 156, 235);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.signup-text a:hover {
  color: #ff3333;
}

/* Responsive */
@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
  }

  .login-header h1 {
    font-size: 1.5rem;
  }
}
