.card-actor {
    border: 0.5px solid lightblue;
    background-color: red;
}

.card-actor .actor-image {
    /* border: 2px solid red; */
    border-radius: 10px 10px 0 0;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}