.container-detail {
    border: 2px solid;
    margin-top: 80px;
    width: 100%;
    padding: 10px; 
}

.container-detail .movie-detail {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    height: 530px;
    margin: auto;
    color: whitesmoke;   
    display: flex;
    gap: 10px;
}


.movie-detail .movie-image img {
    border-radius: 10px ;
    width: 350px;
    height: 100%;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    transition: transform 0.3s ease-in-out;
}

.movie-detail .movie-image img:hover {
    transform: scale(0.98);
    border: 2px solid grey;
}

.container-detail .content-actor .card-actor img {
    width: 100%;
    height: 100%;
    min-height: 345px;
}

.movie-detail .movie-info {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial,Helvetica,sans-serif;    
    font-size: 15px;
    color: white;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}

.movie-detail .movie-info .content-info {
    display: block;
    text-align: left;
    padding: 10px;
    height: 100%;
}
.movie-detail .movie-info .content-info p{
    text-decoration: none;
    text-align: left;
}

.movie-detail .movie-info .content-info .rate{
    display: flex;
    gap: 7px;
}

.movie-detail .movie-info .content-info .rate #r{
    font-size: 15px;
    color: white;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(36, 97, 242);
}

.movie-detail .movie-info .content-info .rate #OMDb{
   font-size: 15px;
   color: white;
   padding: 2px;
   border-radius: 5px 0px 0px 5px;
   background-color: orange;
   font-weight: bolder;
}

.movie-detail .movie-info .content-info .rate #OMDb:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.movie-detail .movie-info .content-info .rate #rating{
   font-size: 15px;
   color: black;
   padding: 2px;
   border-radius: 0px 5px 5px 00px;
   background-color: white;
}

.movie-detail .movie-info .content-info strong {
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

.container-detail .content-actor {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.container-detail .content-actor .card-actor {
    border-radius: 10px;
    background-color: rgb(230, 222, 222);
    transition: transform 0.3 ease-in-out;
    box-shadow: 2px 2px 2px 2px #1a1a1a;
}

.container-detail .content-actor .card-actor strong {
    cursor: pointer;
}

.container-detail .content-actor .card-actor strong:hover {
    color: grey;
}

.container-detail .content-actor .card-actor img {
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.container-detail .content-actor .card-actor p {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
.container-detail .content-actor .card-actor:hover{
    transform: scale(1.01);
}

.container-detail .container-nav-media {
    display: flex;
    gap: 20px;
}

.container-detail .nav-media {
    display: flex;
    color: white;
    gap: 30px;
    align-items: center;
    
}

.container-detail .container-nav-media a {
    padding: 3px;
}

.container-detail .container-nav-media a:hover {
    cursor: pointer;
    border-bottom: 2px solid;
    color: rgb(198, 196, 196);
} 

.container-detail .media {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: auto;
}
.container-detail .media {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: auto;
}

.container-detail .media::-webkit-scrollbar {
    width: 12px;             
}
  
.container-detail .media::-webkit-scrollbar-track {
    background: #1a1a1a;      
}
  
.container-detail .media::-webkit-scrollbar-thumb {
    background-color: whitesmoke;    
    border-radius: 20px;       
    border: 3px solid black;
    cursor: grab;
}

.container-detail .media .media-video {
    position: relative;
    z-index: 1;
    display: flex;
    border-radius: 10px;
}

.container-detail .media iframe {
    border: 2px solid;
    width: 700px;
    height: 100%;
}

.content-info img {
    max-width: 50px;
    height: 30px;
    display: none;
}

.container-detail .media .not-found {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

.container-detail .recommandations {
    border: 2px solid; 
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%; 
    overflow-x: auto;
}

.container-detail h3 {
    text-align: left;
    color: whitesmoke;
}

.container-detail .buttonDetail {
    display: flex;
    flex-direction: wrap;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
}