.setting {
    position: absolute;
    display: grid;
    left: 1em;
    right: 1em;
    top: 6em;
}

.setting h1 {
    color: lightgrey;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
    text-align: left;
    margin-top: 50px;
}

.setting p {
    color: white;
    text-decoration: none;
    text-align: justify;
}

.setting .theme-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
}

.setting button {
    background-color: rgb(41, 41, 41);
    margin: 0;
    box-shadow: 0 4px 10px rgb(41, 41, 41);
    border: none; 
}

.setting button:hover {
    box-shadow: 0 4px 10px black;
    transition: ease 0.4s;
}