.favorit-container {
    margin-top: 60px;
    width: 100%;
    padding: 10px;
}
.favorit-content {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.favorit-container h1 {
    border-bottom: 10px solid rgb(228, 228, 228);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.favorit-container .favorit-content button {
    width: 45%;
    background-color: rgba(245, 245, 245, 0.719);

}

.favorit-container .favorit-content button:hover {
    border: 2px solid;
    background-color: whitesmoke
}