.content-main .swiper {
    height: 500px;
    border-radius: 10px;
}

.content-main .swiper:hover {
    cursor: grab;
}

.content-main .swiper .swiper-slide {
    position: relative;
}
  
.content-main .swiper .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background:
      linear-gradient(to top, #1a1a1a 0%, rgba(0, 0, 0, 0) 20%) left bottom,
      linear-gradient(to top, #1a1a1a 0%, rgba(0, 0, 0, 0) 20%) right top,
      linear-gradient(to right, #1a1a1a 0%, rgba(0, 0, 0, 0) 30%) left,
      linear-gradient(to left, #1a1a1a 0%, rgba(0, 0, 0, 0) 30%) right;
    z-index: 0; 
}
  
.content-main .swiper figure img {
    width: 100%;
    height: 100%;
}

.content-main .swiper figure figcaption {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: white; 
}

.content-main .swiper figure figcaption .movie-info {
    float: left;
    margin: 10px;
    text-align: left;
    text-shadow: 2px black;
    font-weight: bold;
    color: whitesmoke;
    width: 55%;
}

.content-main .swiper figure figcaption .btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.content-main .swiper figure figcaption .btn:active {
  scale: 0.92;
}

.content-main .swiper figure figcaption .btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
  width: 220px;
  transition: width 1.5s ease-in-out;
}

/* Pour écrans ≤ 1280px */
@media (max-width: 1280px) {
  .content-main h6 {
    font-size: 15px;
  }
}

/* Pour écrans ≤ 1024px */
@media (max-width: 1024px) {
  .content-main h6 {
    font-size: 11px;
  }
}

/* Pour écrans ≤ 768px */
@media (max-width: 768px) {
  .content-main h6 {
    font-size: 10px;
  }
}