.movie-container {
    margin-top: 60px;
    color: white;
}

.movie-container .title {
    text-align: left;
    padding: 5px;
    border-left: 5px solid rgb(9, 156, 235);
    border-radius: 5px;
    font-size: 30px;
    margin: 15px 10px;
}

.movie-container .content-filter {
    display: flex;
    justify-content: space-between;
}

.movie-container .content-filter .filters {
    display: flex;
    padding: 10px;
    gap: 50px;
    font-size: 15px;
    margin: 10px 0;
}

.movie-container .content-filter .filters a:hover {
    color: rgb(9, 156, 235);
    cursor: pointer;
}
/* /// ajouter le focus */

.movie-container #genre {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 70px;
}

/* // filter */

.movie-container .content-filter #genre:hover {
    color: rgb(9, 156, 235);
    cursor: pointer;
}

 
.movie-container .filter-genre {
    background-color: hsl(var(--secondary) / .1);
    border: 0.5px solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
 
.movie-container .filter-genre form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.movie-container .filter-genre form div {
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
 
.movie-container .filter-genre form div:focus {
    background-color: red;
}

 
.movie-container .filter-genre form label {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(95, 94, 94); 
    margin: 3px;
    font-size: 15px;
    cursor: pointer;
    text-shadow: 1px 1px black;
}

.movie-container .filter-genre form label:hover {
    background-color: grey;
}

.movie-container .filter-genre button {
    border: 0.5px solid white;
    background-color: whitesmoke;    
    color: black;
    width: 40%;
    margin: 10px;
    font-weight: bold;
}
.movie-container .filter-genre button:hover {
    background-color: rgb(51, 61, 73);
}
.movie-container .filter-genre button:active {
    background-color: rgb(202, 201, 201);
    color: black;
}


/* // Content */
.movie-container .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.movie-container .pagination-box .pagination {
    color: black;
    margin: auto;
    width: min-content;
    font-size: 40px;
    padding: 2px;
    cursor: pointer;
    transition: transform 0.3 ease-in-out;
}

.movie-container .content .pagination #left:hover {
    transform: scale(1.3);
}
.movie-container .content .pagination #right:hover {
    transform: scale(1.3);
}


@media (min-width: 375px) {
    .movie-container .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 425px) {
    .movie-container .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .movie-container .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .movie-container .content {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1440px) {
    .movie-container .content {
        grid-template-columns: repeat(9, 1fr);
    }
}

